@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-family: "Open Sans", sans-serif;
    --primary-color: #FEFAF6; /* cor branco meio pastel */
    --bg-color: #83B4FF; /* cor azul pastel*/
    --button-bg-color: #FF8373; /* cor pastel para os botões */
    --button-hover-color: #FF5757; /* cor para o hover dos botões */
    --button-text-color: #FFFFFF; /* cor do texto dos botões */
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family); /* Aplicando a fonte definida no :root */
}

h1 {
    font-size: 4.5em;
}

h3 {
    margin-top: 20px;
    font-size: 3em;
}

.mensagem{
    font-size: 2em;
    margin-top: 30px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.end-button{
    margin-top: 30px;
}

.change-button-class{
    margin-top: 30px;

}

.try-again-button {
    margin-bottom: 20px;
    font-size: 0.8em;
}


